@import "base/variables";
@import "base/mixins";

*{
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container{
    width: 950px;
    margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/titles";
<<<<<<< HEAD
@import "blocks/consult";
@import "blocks/forms";
@import "blocks/carousel";
=======
>>>>>>> 10d2ec41fb24308d0168d072e82321b0c9b692f6


@import "blocks/media";
    
    
    
    


    


        
        

