.advantages{
    padding: 70px 0 65px;
    background-color: #F6F6F6;
    &__wrapper{
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 240px;
    }
    &__icon{
        display: block;
        margin: 0 auto;
        &_animated{
            animation: heartBeat 2s ease infinite;
        }
    }
    &__subtitle{
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    &__descr{
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        a{
            color: $red-color;
            text-decoration: underline;
        }
    }
}