.feed-form {
    display: flex;
    width: 300px;
    flex-direction: column;
    input{
        height: 54px;
        background: #FFFFFF;
        border-radius: 5px;
        margin-top: 11px;
        border: none;
        padding: 0 20px;
        font-weight: 400;
        font-size: 14px;
        color: #4B4B4B;
        &:first-child{
            margin-top: 0;
        }
    }
}