@media (max-width: 1439px) {
    
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .catalog_{
        &__tabs{
            margin-top: 50px;
        }
        &_content{
            gap: 10px;
        }
    }
    
    .catalog-item{
        width: 280px;
        padding: 15px 15px 17px;

        &__wrapper{
            width: calc(200% + 30px);
        }
        &__main-info{
            &_active{
                margin-right: 15px;
            }
        }
        &__secondary-info{
            margin-left: 5px;;
            &_active{
                margin-left: 10px;  
                padding-right: 15px;   
            }
            li{
                &:before{
                    width: 4px;
                    height: 4px;
                }
            }
        }

        &__price{
            font-size: 16px;
        }
    }
    .button{
        &_size_s{
            width: 100px;
        }
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    } 
    .advantages{
        &__item{
            max-width: 220px;
        }
    }
    .carousel{
        &__wrapper{
            width: 65%;
            img{
                width:100%;
            }
        }
        .slick-prev, .slick-next{
            img{
                display: none;
            }
        }
    }
    .modal-win{
        width: 350px;
        min-height: 320px;
        padding: 35px 23px 40px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title_left{
        font-size: 30px;
    }

    .header{
        &__phone{
            font-size: 15px;
        }
        &__logo{
            width: 200px;
        }
        &__official{
            width: 150px;
            span{
                font-size: 13px;
                margin-top: 0;
            }
        }
    }
    .button{
        width: 130px;
        &_size_big{
            width: 100%;
        }
        &_size_s{
            width: 100px;
        }
    }
    .promo{
        &__header{
            font-size: 36px;
        }
        &__subheader{
            font-size: 20px;
        }
        &__icons{
            width: 350px
        }
    }
    .advantages{
        &__wrapper{
            margin-top: 0;
            flex-direction: column;
            align-items:center;
        }
        &__item{
            max-width: 240px;
            margin-top: 30px;
        }
    }
    .catalog{
        padding-bottom: 40px;
        &__tabs{
            margin-top: 50px;
        }
        &__tab{
            width: 150px;
            height: 40px;
            span{
                line-height: 40px;
                font-size: 13px;
            }
        }
        &_content{
            gap: 10px;
        }
    }
    
    .catalog-item{
        width: 60%;
        padding: 30px;

        &__wrapper{
            width: calc(200% + 66px);
        }
        &__main-info{
            &_active{
                margin-right: 40px;
            }
        }
        &__secondary-info{
            margin-left: 0;
            &_active{
                margin-left: 25px;  
                padding-right: 35px;   
            }
            li{
                &:before{
                    width: 4px;
                    height: 4px;
                }
            }
        }

    }

    .client-reviews{
        padding-bottom: 40px;
        &_wrapper{
            margin-top: 40px;
            gap: 40px;
        }
    }
    .review{
        gap: 20px;
        &__text{
            width: 90%;
            font-size: 15px;
        }
    }
    .footer{
        &__info{
            width: 70%;
            height: 270px;
            padding: 40px 50px 36px;
        }
        &__social-item{
            width:40px;
            height:40px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header{
        &__logo{
            width: 160px;
        }
        &__official{
            display: none;
        }
        &__phone{
            font-size: 13px;
        }
    }
    .button{
        width: 120px;
        height: 22px;
        font-size: 11px;
        &_size_big{
            width: 100%;
            height: 50px;
            font-size: 15px;
        }
        &_size_s{
            width: 100px;
            height: 40px;
            font-size: 15px;
        }
    }
    .title{
        font-size: 24px;
    }
    .promo{
        min-height: 500px;
       padding: 35px 0;
        &__wrapper{
            align-items: center;
        }
        &__header{
            font-size: 24px;
            text-align: center;
        }
        &__subheader{
            font-size: 15px;
            text-align: center;
        }
        &__icons{
            width: 100%;
        }
        &__icon{
            font-size: 12px;
            img{
                height: 40px;
            }
        }
        &__link{
            font-size: 14px;
        }
    }
    .advantages{
        padding: 60px 0;
        &__item{
            margin-top: 20px;
        }
    }
    .catalog{
        &__tabs{
            margin-top: 30px;
            flex-direction: column;
            gap: 10px;
        }
        
    }
    .catalog-item{
        width: 90%;
        padding: 15px;

        &__wrapper{
            width: calc(200% + 42px);
        }
        &__main-info{
            &_active{
                margin-right: 15px;
            }
        }
        &__secondary-info{
            margin-left: 10px;
            &_active{
                margin-left: 15px;  
                padding-right: 20px;   
            }
        }
        &__footer{
            justify-content: space-around;
        }
    }


    .review{
        flex-direction: column;
        &__descr{
            padding-left: 10px;
        }
    }
    .footer{
        &__info{
            padding: 40px 10px;
            width: 70%;
            height: 270px;
        }
        &__addr{
            font-size: 18px;
        }
        &__phone{
            font-size: 15px;
        }
    }

    .modal-win{
        width: 260px;
        min-height: 320px;
        padding: 35px 10px 40px;
        &__close{
            right: 5px;
            top: 5px;
        }
        &__subtitle{
            font-size: 15px;
        }
        &__descr{
            font-size: 11px;
        }
    }

    .feed-form{
        width: 240px;
        input{
            height: 42px;
        }
    }
}